<!DOCTYPE html>
<html>
<head>
    <title>HOME</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home_screen.css') }}"> -->
    <style>
        body {
            background-image: url("{{ url_for('static', filename='img/gamer.jpg') }}");
            background-size: cover;
            background-position: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="element">
            <div class="div">
                <div class="NAV-BAR">       
                    <div class="dropdown">
                        <button id="profile_button"></button>
                        <div class="dropdown-content">
                            <a href="/profile">
                                <img class="profile_image" src="{{ url_for('static', filename='img/settings.png') }}"  width="200" height="50"/>
                            </a>
                            <a href="/logout">
                                <img class="logo_image" src="{{ url_for('static', filename='img/exit.png') }}" width="200" height="50"/>
                            </a>
                        </div>
                    </div>
                    
                    <a href="/trash_toss">
                        <img class="vector-2" src="{{ url_for('static', filename='img/trash_toss_logo.jpg') }}" width="100" height="100" />
                    </a>
                    <t></t>

                    <a href="/maze">
                        <img class="vector-3" src="{{ url_for('static', filename='img/maze_logo.jpg') }}" width="100" height="100" />
                    </a>

                    <t></t>

                    <a href="/football">
                        <img class="vector-3" src="{{ url_for('static', filename='img/football.webp') }}" width="100" height="100" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
