<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='register_screen.css') }}"> -->
    <style>
        body {
            background-image: url("{{ url_for('static', filename='img/login_back.jpg') }}");
            background-size: cover;
            background-position: center;
        }
    </style>
</head>
<body>

    
    <p id="sign_in_header" style="color: yellow;">
        Register Here
    </p>
    
    <div class="form-container">
        <h2 style="color: yellow;">Register</h2>
        <form action="/register" method="post">
            <div class="form-group">
                <input id ="USER"type="text" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <input id="PASSWORD" type="password" name="password" placeholder="Password" required>
            </div>
            <div class="form-group">
                <button id="SUBMIT" type="submit" style="color:green;">Register</button>
            </div> 
            
        </form>
        <p id="new_account" style="color: yellow;">Already have an account? <a href="/"  style="color: yellow">Login here</a></p>
        
        
    </div>
</body>
</html>



