body {
    overflow: hidden; /* Hide scrollbars */
}
.flex-container {
    display: flex;
    justify-content: space-between;
}

#hero{
    position:absolute;
    height: 20px;
    width:  20px;
    top:49vh;
    left:49vw;
    

}
.hero-container img {
    position :absolute;
    height: 300%;
    width: 300%;
    top : -20px;
    left: -20px;
}
#trash{
    position:absolute;
    top:0px;
    left:0px;
}
.trash-container div > img {
    position :absolute;
    height: 300%;
    width: 300%;
    top : -20px;
    left: -20px;
}
#lives{
    position :absolute;
    top:10px;
    left:20px;
}
.lives-container img {
    position :relative;
    height: 40px;
    width: 40px;
    
}

#monster{
    position:absolute;
    top:0px;
    left:0px;
}
.monsters-container div > img {
    position :absolute;
    height: 300%;
    width: 300%;
    top : -40px;
    left: -40px;
}


