<!DOCTYPE html>
<html>
  <head>
    <title>PROFILE</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profile2.css') }}">
  </head>
  <body>
    <div class="element">
      <div class="div">
        <div class="text-wrapper">
            Basic Details
        </div>
        <div class="info">
          
          <p id="data">
            Hi ! , {{ str }} Let's see how you are performing
            <br>
            <br>
          </p>

          <p id="TT">
              Trash_Toss  
          </p>

          <p id="max_score_tt">
             Your Maximum score : {{ max_score1 }}
          </p>

          <p id="global_max_score_tt">
            Global Maximum Score : {{ global_max_score }}
          </p>

          <p id = "head_leaderboard_tt">
            Top Scores for Trash_Toss:
          </p>

            <ul style="list-style-type: none" id ="top_users_tt ul">
              <li id="column_headings"><strong>Username</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Max Score</strong></li>
              {% for user, score in top_users %}
              <br>
              <li id ="top_users_tt ul li">{{ user }} &nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;{{ score }}</li>
              {% endfor %}
          </ul>


          <p id="TM">
            Trash in Maze  
          </p>


          <p id="max_score_maze">
            Your maximum score : {{ max_score_maze }}
          </p>


          <p id="global_max_score_maze">
            Global maximum score : {{ global_max_score_maze }}
          </p>

          <p id = "head_leaderboard_maze">
            Top Scores for Trash_in_Maze:
          </p>


          <p id="top_users_maze">
            <ul style="list-style-type: none">
              <li id="column_headings"><strong>Username</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Max Score</strong></li>
              {% for user, score in top_users_maze %}
              <br>
              <li id ="top_users_tt ul li">{{ user }} &nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;{{ score }}</li>
              {% endfor %}
            </ul>
          </p>

          <!-- src="{{ url_for('static', filename='img/watermarklogo.png') }}" -->

        </div>
        <img class="vector"  />
        <div class="NAV-BAR">

          <img class="profile_image" src="{{ url_for('static', filename='img/profile.png') }}"  />
            <div class="dropdown">

              <button id="profile_button">
              </button>
              <div class="dropdown-content">
              <a href="/profile">View Profile</a>
              <a href="/logout">Logout</a>
              </div>
            </div>
            

            <a href="/home" id="exit">
            <img class="logo_image" src="{{ url_for('static', filename='img/exit.png') }}" />
            </a>

          </div>
      </div>
    </div>
  </body>
</html>
