<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style-with-prefix.css') }}">
    <style>
        .srouce{
            text-align: center;
            color: #ffffff;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="intro">
        <h1 id="intro" > Welcome to Trash Toss </h1>
    </div>
    <div class="main-container">
        <div class="form-container">

            <div class="form-body">
                <h1 class="title">Register </h1>

                <form action="/register" class="the-form" method="post">

                    
                    <label for="email">Username</label>
                    <input type="text" name="email" id="email" placeholder="Create your username">
              

                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Create your password">
                   

                    <input type="submit" value="Register">
                    
                </form>

            </div><!-- FORM BODY-->

            <div class="form-footer">
                <div>
                    <span>Already have an account?</span> <a href="/">Login Here</a>
                </div>
            </div><!-- FORM FOOTER -->

        </div><!-- FORM CONTAINER -->
    </div>

</body>
</html>